table.simplex {
    table-layout: fixed;
    width:100%;
    text-align: right;
    border-collapse:collapse;
    margin-top: 70px;
}

tr.nlp {
  border: 1px solid black;
}
table.nlp {
    table-layout: fixed;
    width:100%;
    text-align: right;
    border-collapse:collapse
}
th.pivo, td.pivo{
  background-color: lightgrey;
}

td.elementoPivo{
  background-color: rgb(255, 100, 100);
}

td.valorZ{
  color: green;
}

tr.linhaZ{
  border:1px solid black;
}