table {
  table-layout: fixed;
    width:100%;
    text-align: center;
  }
  /*alinhar texto à direita,
  colunas do mesmo tamanho,
  tabela centralizada (como ???????)
td {
  text-align: right;
}
*/

th.pivo, td.pivo{
  background-color: steelblue;
}

td.elementoPivo{
  background-color: rgb(70, 180, 138);
}

td.valorz{
  background-color: rgb(240, 188, 120);
}